* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4b088a;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card {
    width: 300px;
    height: 200px;
    position: relative;
    margin: 30px 20px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.container .card:hover {
    height: 420px;
}

.container .card .imgBx{
    height: 260px;
    width: 260px;
    position: relative;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 202px rgba(0,0,0,0.2);
}

.container .card .imgBx img {
    max-width: 100%;
    border-radius: 10px;
}

.container .card .conteudo {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    color: #fff;
}

.container .card:hover .conteudo {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}