@font-face {
    font-family: glitch;
    src: url(../font/Glitch\ inside.otf);
}

@font-face {
    font-family: anurati;
    src: url(../font/Anurati-Regular.otf);
}

@font-face {
    font-family: azonix;
    src: url(../font/Azonix.otf);
}



html {
    background-color: #200552;
}

* {
    margin: 0;
}

nav ul {
    background-color: #fd658600;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    font-family: anurati;
}

nav ul li {
    margin: 10px 40px;
    padding: 20px;
    list-style: none;
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
}

nav ul li a {
    color: #ffffff;
    text-shadow: 0px 0px 10px rgb(63, 61, 61), 0px 1px 15px rgb(21, 43, 240);
    text-decoration: none;
    position: relative;
}
  
nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 27px;

    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgb(63, 61, 61), 0px 1px 15px rgb(21, 225, 240);
    
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}
  
a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.top {
    background-image: url(../img/top.png);
    background-size: cover;
    background-position: right;

    position: absolute;
    top: 0;
    width: 1600px;
    padding: 200px;
}


.top p {
    position: relative;
    width: 700px;
    font-size: 32px;
    color: #ffffff;
    font-family: azonix;
}

.top h1 {
    margin: 20px;
    color: #ffffff;
    text-shadow: 0px 2px 10px rgb(0, 0, 0), 0px 2px 19px rgb(43, 128, 226);
    font-size: 70px;
    font-family: glitch;
    text-transform: uppercase;
}

button {
    background-image: linear-gradient(to right, #12a9e0, #21da87, #10f188, #2b8fb6);
    box-shadow: 0 4px 15px rgba(49, 196, 190, 0.75);
    background-size: 300% 150%;
    /* esses carinhas que dão o efeito do gradiente de 4 cores */

    margin-top: 40px;
    border: none;
    width: 300px;
    border-radius: 100px;
    padding: 25px;
    cursor: pointer;

    color: #ffffff;
    text-shadow: 0px 2px 10px rgb(0, 0, 0), 0px 2px 19px rgb(43, 128, 226);
    font-size: 23px;
    text-transform: uppercase;
    font-family: glitch;
}

button:hover {
    background-position: 100% 20%;
    transition: all .5s ease-in-out;
}

