

/* card do meio */

.curiosidade {
    background-color: #18183B;
    background-image: linear-gradient(360deg, #ac43d9a2  10%, #0E2159 50%, hsl(240, 42%, 16%) 100%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.curiosidade .ineer {
    background-image: linear-gradient(90deg, #3504498c 0%, #091b5275 50%, hsla(0, 0%, 0%, 0) 100%);
    box-shadow: -10px -20px 45px #09cfa480;
    color: #ffffff;
    text-shadow: 0px 2px 10px rgb(0, 0, 0), 0px 2px 30px #02f7ff;
    max-width: 800px;
    height: 380px;
    align-items: center;
    position: relative;
    border-radius: 10px 0px 0px 10px;
}

.curiosidade .ineer p {
    text-align: center;
    padding: 50px;
    font-size: 23px;
    font-family: azonix;
    text-shadow: 0px 2px 10px rgb(0, 0, 0);
}

.curiosidade .ineer h2 {
    text-align: center;
    margin-top: 7%;
    font-size: 35px;
    font-family: mars;
    text-transform: uppercase;
}

.curiosidade img {
    display: block;
    width: 800px;
    box-shadow: 10px 20px 70px #09cfa48a;
    border-radius: 10px;
}


/* cards repulsivos (tec envolvia) */

.cards {
    background-color: #18183B;
    background-image: linear-gradient(360deg, #18183B 0%, #0E2159 50%, #ac43d9a2 100%);
    padding: 50px;
    text-align: center;
}

.cards h1  {
    margin: 0px 0px;
    color: #ffffff;
    text-shadow: 0px 2px 10px rgb(0, 0, 0), 0px 2px 19px rgb(43, 128, 226);
    font-size: 70px;
    font-family: glitch;
    text-transform: uppercase;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.container .card {
    width: 400px;
    height: 300px;
    position: relative;
    margin: 30px 20px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;


    background: rgba(255, 255, 255, 0.226);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.container .card:hover {
    height: 620px;
}

.container .card .imgBx{
    height: 260px;
    width: 350px;
    position: relative;
    top: -60px;
    left: 25px;
    z-index: 1;
    box-shadow: 0 5px 202px rgba(0,0,0,0.2);
}

.container .card .imgBx img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.5);
}

.container .card .conteudo {
    position: relative;
    margin-top: -240px;
    padding: 10px 15px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    color: #fff;
}

.container .card:hover .conteudo {
    visibility: visible;
    opacity: 1;
    margin-top: 50px;
    transition-delay: 0.3s;
}

.container .card .conteudo h2 {
    font-size: 35px;
    padding: 0px 30px;
    font-family: mars;
    text-shadow: 0px 2px 10px rgb(0, 0, 0), 0px 2px 19px rgb(43, 128, 226);
    margin: 0px 0px 15px 0px;
}

.container .card .conteudo p {
    font-size: 20px;
    padding: 0px 30px;
    font-family: azonix;
    text-shadow: 0px 2px 10px rgb(0, 0, 0);
}



.economia {
    background-image: linear-gradient(180deg, #18183B 0%, #0E2159 50%, #ac43d9a2 100%);
    padding: 30px;
    text-align: center;
    position: relative;
}


.economia h1 {
    margin: 20px 150px 20px 150px;
    color: #ffffff;
    text-shadow: 0px 2px 10px rgb(0, 0, 0), 0px 2px 30px #02f7ff;
    font-size: 70px;
    font-family: glitch;
    text-transform: uppercase;
}

.economia p {
    padding: 30px 130px;
    font-size: 35px;
    color: #ffffff;
    font-family: azonix;
    text-shadow: 0px 2px 10px rgb(0, 0, 0);
}


.economia .cards2 {
    position: relative;
    margin: 20px 200px;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
}

.economia .cards2 .card {
    position: relative;
    height: 300px;
    background: #040740;
    border: none;
    display: flex;
    width: 600px;
    margin: 30px 0;
    border-radius: 10px;
    box-shadow: 0px 1px 20px rgb(0, 0, 0), -15px -15px 90px rgb(255, 0, 149), 15px 15px 90px rgb(0, 38, 255);
}

.economia .cards2 .card .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #6B135C 0%, #B31F5A 50%, #9F3B74 100%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.economia .cards2 .card:hover .imgBx {
    width: 250px;
    height: 200px;
    left: -75px;
    top: calc(40% - 75px);  
    transition: 0.5s ease-in-out;
    background-image: linear-gradient(135deg, #860971 0%, #B31F5A 50%, #9F3B74 100%);
    box-shadow: 0px 1px 20px rgb(0, 0, 0);
}


.economia .cards2 .card .imgBx:before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    text-align: center;
    font-size: 30px;
    color: #ffffffe8;
    font-weight: 100;
    font-family: mars;
}

.economia .cards2 .card .imgBx img {
    max-width: 200px;
    transition: 0.5s ease-in-out;
}

.economia .cards2 .card:hover .imgBx img {
    max-width: 110px;
}


.economia .card .content p {
    font-size: 22px;
    position: absolute;
    top: -20px;
    right: 0;
    width: calc(72% - 50px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}