

/* card do meio */

.curiosidade {
    background-color: #18183B;
    background-image: linear-gradient(360deg, #ac43d9a2  10%, #0E2159 50%, hsl(240, 42%, 16%) 100%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.curiosidade .ineer {
    background-color: #00DBDE;
    background-image: linear-gradient(315deg, #00DBDE 0%, #9323f0 100%);

    box-shadow: -1px -1px 15px #000000, -10px -10px 40px #79F2E6;
    max-width: 800px;
    height: 380px;
    align-items: center;
    position: relative;
    border-radius: 10px 0px 0px 10px;
}

.curiosidade .ineer p {
    text-align: center;
    margin: 4% 50px;

    font-size: 1.6em;
    font-family: 'Quantico';
    line-height: 1.3;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgb(0, 0, 0), -1px -1px 10px #000000;
}

/* .curiosidade .ineer h2 {
    text-align: center;
    margin-top: 5%;
    font-size: 35px;
    font-family: mars;
    text-transform: uppercase;
} */

.curiosidade img {
    display: block;
    /*cortar a imagem*/
    height: 410px;
    width: 820px;
    object-fit: cover; 
    object-position: left;

    box-shadow: -1px -1px 15px #000000, 10px 10px 30px #79F2E6;
    border-radius: 10px;
}


/* cards repulsivos (tec envolvia) */

.cards {
    background-color: #18183B;
    background-image: linear-gradient(360deg, #18183B 0%, #0E2159 50%, #ac43d9a2 100%);
    padding: 50px;
    text-align: center;
}

.cards .txt h1  {
    margin: 0px 0px;
    color: #ffffff;
    text-shadow: 0px 2px 10px rgb(0, 0, 0), 0px 2px 19px rgb(43, 128, 226);
    font-size: 70px;
    font-family: glitch;
    text-transform: uppercase;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.container .card {
    width: 420px;
    height: 310px;
    position: relative;
    margin: 30px 20px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;

    background-color: #FF3CAC;
    background-image: linear-gradient(180deg, #FF3CAC 0%, #784BA0 50%, #732bc5 100%);

    border-radius: 10px;
    box-shadow: 0px 2px 20px rgb(0, 0, 0);
}

.container .card:hover {
    height: 700px;
}

.container .card .imgBx{
    height: 260px;
    width: 350px;
    position: relative;
    top: -60px;
    left: 37px;
    z-index: 1;
    box-shadow: 0 5px 202px rgba(0,0,0,0.2);
}

.container .card .imgBx img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.699);
}

.container .card .conteudo {
    position: relative;
    margin-top: -240px;
    padding: 10px 15px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    color: #fff;
}

.container .card:hover .conteudo {
    visibility: visible;
    opacity: 1;
    margin-top: 40px;
    transition-delay: 0.1s;
}

.container .card .conteudo h2 {
    font-size: 35px;
    padding: 0px 30px;
    font-family: mars;
    text-shadow: 0px 2px 7px rgb(0, 0, 0), 0px 2px 15px rgb(21, 1, 134);
    margin: 0px 0px 10px 0px;
    
}

.container .card .conteudo p {
    font-size: 22px;
    line-height: 1.3;
    font-family: 'Quantico';
    text-transform: uppercase;
    text-shadow: 0px 2px 10px rgb(0, 0, 0);
}



.economia {
    background-image: linear-gradient(180deg, #18183B 0%, #0E2159 50%, #ac43d9a2 100%);
    padding: 30px;
    text-align: center;
    position: relative;
}


.economia h1 {
    margin: 20px 150px 20px 150px;
    color: #ffffff;
    text-shadow: 0px 2px 10px rgb(0, 0, 0), 0px 2px 30px #02f7ff;
    font-size: 70px;
    font-family: glitch;
    text-transform: uppercase;
}

.economia p , .cards .txt p {
    padding: 30px 130px;
    font-size: 35px;
    color: #ffffff;
    font-family: good;
    text-transform: uppercase;
    text-shadow: 0px 2px 10px rgb(0, 0, 0);
}

.economia .cards2 {
    position: relative;
    margin: 20px 200px;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
}

.economia .cards2 .card {
    position: relative;
    height: 300px;
    width: 600px;
    margin: 60px;
    margin-left: -50px;
    margin-right: -50px;
    background: #040740;
    border: none;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 1px 20px rgb(0, 0, 0), -15px -15px 70px rgba(25, 247, 162, 0.623), 15px 15px 70px rgba(0, 110, 255, 0.863);
}

.economia .cards2 .card .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #08AEEA;
    background-image: linear-gradient(225deg, #08AEEA 0%, #2AF598 100%);

    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.economia .cards2 .card:hover .imgBx {
    width: 250px;
    height: 200px;
    left: -75px;
    top: calc(40% - 75px);  
    transition: 0.5s ease-in-out;
    background-color: #21D4FD;
    background-image: linear-gradient(225deg, #21D4FD 0%, #B721FF 100%);

    box-shadow: 0px 1px 20px rgb(0, 0, 0);
}


.economia .cards2 .card .imgBx:before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    text-align: center;
    font-size: 30px;
    color: #ffffffe8;
    text-shadow: 0px 1px 5px black;
    font-weight: 100;
    font-family: mars;
}

.economia .cards2 .card .imgBx img {
    max-width: 200px;
    transition: 0.5s ease-in-out;
}

.economia .cards2 .card:hover .imgBx img {
    max-width: 90px;
}


.economia .card .content p {
    font-size: 22px;
    position: absolute;
    top: -25px;
    right: 0;
    width: calc(72% - 50px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quantico";
}