@keyframes animate {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
}

.empresas {
    background-color: #72414100;
    border: solid rgba(196, 196, 197, 0.986);
    border-width: 0px 10px 10px;
    border-radius: 10px;
    align-items: center;
    margin: 50px 100px;
}

.empresas h2 {
    top: -60px;
    z-index: 1;
    position: relative;
    color: #ffffff;
    text-shadow: 0px 2px 10px rgb(0, 0, 0), 0px 2px 19px rgb(43, 128, 226);
    font-size: 70px;
    font-family: mars;
    text-transform: uppercase;
    text-align: center;
}

.empresas p {
    padding: 0px 100px;
    margin: -50px auto 70px;
    font-size: 1.8em;
    line-height: 1.7;
    font-family: 'quantico';
    text-transform: none;
}


.empresas .container {
    background-color: rgba(7, 32, 116, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: -50px;
    margin: 0px auto;
    max-width: auto;
}


.empresas .container .icons img{
    border: 5px solid #00000050;
    width: 140px;
    padding: 30px;
    border-radius: 30px;
    margin: 20px 30px;

    box-shadow: 0px 2px 60px #0602ffd7, 10px 1px 90px #05f7ff28,
    2px 2px 100px #3990dc5e, 2px 2px 100px #ffffff41, inset 2px 2px 100px #aaaabb15,
    inset 2px 2px 100px #0000004d, inset 2px 2px 100px #00000000,
    inset 2px 2px 100px #0000000c;
    animation: animate 3s linear infinite;
}


